




.copertina {
    background-image: url(../img/pattern.png);
    background-size: contain;
    height: 100px;
    background-color:cornflowerblue;
    display: cover;
    
}




.logo {
width: 200px;
padding-top: 40px;
margin-left: 70px;

}

.inizio-articolo h3 {
    color: grey;
   }

   .articolo h5 {
    color: grey;
   }   

.giallo {
    background-color: yellow;
}

.articolo {
    font-size: 20px;

}


.table {
    border-color: black;

}

.first {
    background-color:#00bfff;
    color: white;
    
}

.second {
    background-color: #87ceeb;
    height: 50px;
    
}

.third {
    height: 50px;
    
    
}

.four {
    background-color: #87ceeb;
    height: 50px;
    
}